.mi-iframe {
    position: absolute;
    width: 90%; /* Ocupa más espacio en móvil */
    height: 80vh; /* Altura dinámica según la pantalla */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none; /* Opcional: quita el borde */
}

body {
    margin: 0;
    padding: 0;
    background-image: url(Curriculum.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; /* Adapta la imagen al contenedor */
    background-attachment: fixed; /* La imagen permanece fija */
}

/* Media Query para Móviles */
@media screen and (max-width: 768px) {
    .mi-iframe {
        width: 100%; /* Ocupa todo el ancho */
        height: 90vh; /* Ajuste mejorado de altura */
    }
    body {
        background-size: contain; /* Imagen ajustada para móviles */
        background-position: center;
    }
}
